extends layout

block content
  h1= title
  p Welcome to my #{title}
  a(href='/new') Add a message
  br
  div
    each message in messages
      h2= message.user
      p= message.text
      p= message.added